@import 'settings.scss';

.header {
  position: unset !important;

  @include mq("mobile") {
    position: sticky !important;
  }
}

.apexcharts-legend,
.apexcharts-toolbar {
  display: none !important;
}

.v-container {
  max-width: 1280px !important;
}
